<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="canonical" href="<%- page.link %>">

  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <link rel="stylesheet" href="https://mipcache.bdstatic.com/static/v1/mip.css">
  <%- mipcss() %>
</head>
<body>
    <%- partial('_partial/nav') %>

    <div class="main">
      <%- body %>
    </div>

    <footer class="footer">
        © 2011-2017&nbsp;-&nbsp; 前端小武的博客
    </footer>

    <mip-fixed type="gototop">
        <mip-gototop></mip-gototop>
    </mip-fixed>

    <script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-gototop/mip-gototop.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-fixed/mip-fixed.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-link/mip-link.js"></script>
</body>
</html>
